pushroulette:
  users:
    Hard To Handle:
      genre: Rap
    Jimmy Two Pumps:
      genre: Country
      clip: ./app/clips/macarena.m4a
  github:
    users:
      hahd2handle: Hard To Handle
      j2pumps: Jimmy Two Pumps
  buildServer:
    users:
      h2h: Hard To Handle
      jimmy: Jimmy Two Pumps
    failureClip:
      # - 'your-shit-broken'
      - 'fail-trombone'
      # - 'fail-buzzer'
    backToNormalClip:
      - 'tada'
  hipchat:
    token: yourtoken
    username: Push Roulette
    room: pushroulette
